body{
    margin: 0;
}

header{
background-color: lightslategray;
height: 100px;
}

header nav a{
    display: inline-block;
    float: left;
}

header nav a img{
    height: 100px;
    display: inline-block;
}

.menu{
    float: right;
    padding:0;
    margin: 0;
    display:inline;
}

.menu ul{

}

.menu ul li{
    display: inline;
}

.menu ul li a{
    text-decoration: none;
    color: rgb(175, 189, 235);
    padding: 30px;
    margin: 30px;
    font-size: 20px;

    

}
a:hover{
    background-color: cadetblue;
}