.first {
    text-decoration: none;
    color: aqua;
}

.second {
    border: 3px;
    border-color: brown;
    background-color: cadetblue;
    margin: 5px;
    border-style: solid;
    padding: 4px;
    transition: 2s;
    display: inline-block;
    text-decoration: none;
}

.second:hover {
    border-radius: 20px;
    transform: rotate(360deg);
    border-radius: 20px;
}


/*hover effect for the image */

.third {
    max-height: 200px;
    max-width: 300px;
    transition: 2s;
}

.third:hover {
    transform: rotate(360deg);
    border-radius: 20px;
    border: 5px solid pink;
}