body{
    background-color: rgb(169, 189, 189);
}
*{ 
}
.container-md{
    margin-top: 30px;

}
.hello{
    margin-top: 20px;
}
.hello1{
    margin-top: 132px;
}
.hello3{
    margin-top: 40px;
}
footer{
   background-color: rgb(89, 130, 130);
border: 2px slategrey solid;
}
footer a{
    color:rgb(39, 70, 70);
}