.parent {
    height: 400px;
    width: 400px;
    background-color: blueviolet;
    position: relative;
}

.child1 {
    height: 200px;
    width: 200px;
    background-color: greenyellow;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 50px;
}

.child2 {
    height: 200px;
    width: 200px;
    background-color: chocolate;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50px;
}