.parent {
    height: 400px;
    width: 400px;
    background-color: crimson;
    position: relative;
    top: 200px;
    left: 200px;
}

.child1 {
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50px;
}

.child2 {
    height: 200px;
    width: 200px;
    background-color: lightpink;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50px;
}

.child3 {
    height: 200px;
    width: 200px;
    background-color: darkturquoise;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 50px;
}

.child4 {
    height: 200px;
    width: 200px;
    background-color: dodgerblue;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50px;
}